FREQTRADE__EXCHANGE__KEY=
FREQTRADE__EXCHANGE__SECRET=

FREQTRADE_DEMO_KEY=
FREQTRADE_DEMO_SECRET=

FREQTRADE_LIVE_KEY=
FREQTRADE_LIVE_SECRET=

FREQTRADE_TELEGRAM_ENABLED=false
FREQTRADE_TELEGRAM_TOKEN=
FREQTRADE_TELEGRAM_CHAT_ID=

TZ=Asia/Ho_Chi_Minh
