FREQTRADE__EXCHANGE__KEY=
FREQTRADE__EXCHANGE__SECRET=

FREQTRADE_DEMO_KEY=
FREQTRADE_DEMO_SECRET=

FREQTRADE_LIVE_KEY=
FREQTRADE_LIVE_SECRET=

FREQTRADE_DEMO_TELEGRAM_ENABLED=false
FREQTRADE_LIVE_TELEGRAM_ENABLED=false
FREQTRADE_DEMO_TELEGRAM_TOKEN=
FREQTRADE_LIVE_TELEGRAM_TOKEN=
FREQTRADE_DEMO_TELEGRAM_CHAT_ID=
FREQTRADE_LIVE_TELEGRAM_CHAT_ID=

TZ=Asia/Ho_Chi_Minh
